body {
    font-family: 'Courier New', monospace;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #0b2480;
    color: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

.logo {
    font-size: 32px;
    margin: 0;
}

.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
}

.hero {
  /*  background-image: url(""); */
    background-size: cover;
    background-position: center;
    color: #000000;
    text-align: center;
    padding: 100px 0;
}

.hero h2 {
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(62, 62, 62, 0.5);
}

.about, .work, .contact, .projects {
    padding: 80px 0;
}

.about h2, .work h2, .contact h2, .projects h2 {
    font-size: 32px;
    margin: 0;
}

.about p, .contact p {
    font-size: 18px;
}

.work ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.work li {
    margin-bottom: 10px;
}

.project {
    margin-bottom: 20px;
    /* overflow: hidden; */
}

.project img {
    max-width: 50%;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: auto;
    display: block;
}

.project-title {
    display: none;
    background-color: rgba(247, 253, 61, 0.937);
    color: #030202;
    text-align: center;
    position: relative;
    padding: 10px;
    border-radius: 5px;
    z-index: auto;
}

.project-image {
    transition: opacity 0.3s;
    position: relative;
}

.project:hover .project-image {
    opacity: 0.5;
}